* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.top-nav {
  width: 1400px;
  height: 137px;
}

.upper {
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #767676;
  background-color: #f1f2f6;
  padding: 0px 30px 0px 30px;
}

.upper-two {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
}

.middle {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1e22aa;
  border-radius: 0 0 20px 20px;
  padding: 0px 30px 0px 30px;
}

.middle-1 {
  width: fit-content;
}

.logo {
  width: 160px;
}

.middle-2 {
  width: 950px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b4fba;
  padding: 5px 10px 5px 15px;
  border-radius: 22px;
}

#search {
  width: 930px;
  background-color: #4b4fba;
  border: none;
  font-size: 15px;
}

#search::placeholder {
  color: white;
}

.middle-3 {
  width: 180px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.login {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 3px;
}

.cart {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-content p {
  line-height: 0;
}

.money {
  font-size: 10px;
  font-weight: 400;
}

.lower {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 30px 0px 30px;
  color: #4c525c;
}

.main-section {
  width: 1400px;
  height: 1083px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 250px;
}

.main-first {
  height: 106px;
  width: 100%;
  padding-top: 70px;
  text-align: center;
  color: #4c525c;
  line-height: 20px;
}

.main-first-title {
  font-size: 32px;
  font-weight: 600;
}

.main-first-title span:first-child {
  color: #019bf0;
}

.main-first-title span:last-child {
  color: #185baa;
}

.main-first-sub {
  font-size: 20px;
  font-weight: 400;
}

.main-second {
  width: 100%;
  height: 948px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
}

.tabs {
  width: 523px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #ecf5ff;
  border-radius: 50px;
  padding: 8px;
}

.tabs button {
  width: 140px;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #4c525c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ecf5ff;
  transition: all 0.3s linear;
}

.tabs button.active {
  width: 140px;
  height: 100%;
  font-weight: 500;
  color: #019bf0;
  background-color: white;
  border-radius: 30px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.container {
  width: 100%;
  height: 808px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
}

.product {
  width: 100%;
  height: 404px;
  display: flex;
  justify-content: start;
}

.bed {
  width: 438px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 24px;
  font-weight: 600;
}

.bed p {
  padding-left: 10px;
  color: #019bf0;
  line-height: 0;
}

.bed span {
  color: #185baa;
}

.image-container {
  width: 414px;
  height: 302px;
  display: flex;
  justify-content: center;
  background-color: #eef3fb;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.details {
  opacity: 0;
  overflow: hidden;
  font-size: 14px;
  padding-left: 10px;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.details span {
  color: #767676;
}

.tags span {
  background-color: #f4f4f4;
  color: #767676;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px;
}

.bed:hover .details {
  opacity: 1;
  height: 200px;
}

.bed:hover .image-container {
  height: 250px;
  border-radius: 30px 30px 0 0;
}

footer {
  width: 100%;
  height: 750px;
  background-image: url("./assets/4ffade6ac4215b1975960a503365988c6666ee27.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.footer-first {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 150px;
}

.first-sub1 {
  width: 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 34px;
}

.sub1-header p:nth-child(1) {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 0;
}

.sub1-header p:nth-child(2) {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.sub1-sub {
  width: 436px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 22px;
  padding-left: 10px;
}

#sub1-search {
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  color: #4c525c;
  border: none;
  border-radius: 22px;
}

.sub1-sub button {
  width: 131px;
  height: 100%;
  text-align: center;
  font-family: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #0a4488;
  background-color: #fae100;
  border-radius: 22px;
  border: none;
}

.sub1-sub img {
  width: 427px;
  height: 242px;
}

.footer-second {
  width: 436px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.second-sub1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.sub1-content {
  width: 50%;
}

.sub2-content {
  width: 50%;
}

.second-sub1 p:nth-child(1) {
  color: #fae100;
  font-weight: 600;
  font-size: 16px;
}

.second-sub1 p:nth-child(2),
.second-sub1 p:nth-child(3),
.second-sub1 p:nth-child(4),
.second-sub1 p:nth-child(5),
.second-sub1 p:nth-child(6),
.second-sub1 p:nth-child(7) {
  line-height: 0.8;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.footer-third {
  width: 436px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
}

.social-icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.social-icons p {
  color: #fae100;
  font-weight: 600;
  font-size: 16px;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 32px;
}

.underline {
  border-bottom: white 1px solid;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.contact p {
  font-size: 12px;
  font-weight: 400;
  color: #f8f8f8;
}

.phone {
  font-size: 12px;
  font-weight: 400;
  color: #f8f8f8;
}

.white {
  font-size: 12px;
  font-weight: 400;
  color: #f8f8f8;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-below {
  width: 1440px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
}

.footer-below p {
  font-size: 12px;
  font-weight: 400;
  color: #f8f8f8;
}

.three {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
